@media screen and (min-width: 650px) {
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        position: relative;
    }

    #menu{
        display: none;
    }

    .navigation{
        display: flex;
        flex-direction: row;
        gap: 20px;
        list-style: none;
        margin: 0;
        padding: 0;
    }
}
